$BgColorBase: #f8fafa;
$BgColorSecond: #eff0f2;
$BgColorLight: #fff;
$FontFamTitle: 'Montserrat', sans-serif;
$FontFamText: 'Raleway', sans-serif;
$FontFamP: 'Merriweather', sans-serif;
$FontBold: 700;
$FontRegular: 400;
$FontSmall: 200;
$LinkHoverColor: #71f6eb;
$BtnColor: #606061;
$TitleColor: #181919;
$TextColor: #666767;
